@font-face {
    font-family: 'christmas';
    src: url('/assets/fonts/christmas.otf');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: url('/assets/images/tile.jpg');
    justify-content: center;

}

#grid {
    height: 100%;
    display: grid;
    /* 1fr - header, 2fr-task form, 3fr tasks */
    grid-template-rows: 1fr 2fr 3fr;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'christmas';
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

#formContainer {
    width: 100%;
    background-image: url('/assets/images/formbg.jpg');
    padding: 1rem;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

#tasksContainer {
    /* Makes sure it takes all of the grids space  */
    height: 100%;
    width: 100%;
    display: flex;
    /* Enables Flexbox */
    flex-wrap: wrap;
    /* Prevents wrapping to the next row */
    overflow-y: scroll;
    /* Makes sure the notes are form left to right*/
    justify-content: flex-start;
    /* Spacing so it is spaced around nicely */
    padding: 10px;
    margin-top: 1rem;
    margin: auto;
}


.task {
    flex: 0 0 auto;
    background-image: url('/assets/images/notebg.png');
    /* Ensures the image covers the entire element */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    display: flex;
    flex-direction: column;
    /* Fixes the note size so it wont change */
    min-width: 200px;
    min-height: 286.6px;
    /* Padding so everything would fit nicely inside the note(image) */
    padding-top: 20px;
    padding-right: 23px;
    padding-left: 5px;

}

/* The animation for when the task is added */
@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

/* calls the animation */
.fadeIn {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
}


/* Delete button */
.task>div:nth-child(1) {
    display: flex;
    /* fixes it to the right side of the page */
    flex-direction: row-reverse;
}

/* Delete button image */
.task>div>img {
    width: 16px;
    visibility: hidden;
    /* Use visibility instead of display */
    opacity: 0;
    /* Set initial opacity to 0 for smooth transitions */
    transition: opacity 0.3s ease;
    /* Add a smooth fade-in effect */
}

/* How the delete button image apears(with hover) */
.task:hover>div>img {
    visibility: visible;
    /* Make the image visible */
    opacity: 1;
    /* Fade the image in */
}

/* When cursor on X he becomes */
.task>div>img:hover {
    cursor: pointer;
}


/* text area */
.task>div:nth-child(2) {
    /* Fixes the size of the text area(in the note) so it won't change */
    height: 150px;
    width: 172px;
    /*  */
    word-wrap: break-word;
    /* makes sure the scroller is hidden until needed */
    overflow-y: auto;
}

/* date */
.task>div:nth-child(3) {
    display: flex;
    /* fixes it to the right */
    justify-content: flex-start;
}

/* time */
.task>div:nth-child(4) {
    display: flex;
    /* fixes it to the right */
    justify-content: flex-start;
}