@font-face {
    font-family: 'christmas';
    src: url('/assets/fonts/christmas.otf');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: url('/assets/images/tile.jpg');
    justify-content: center;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'christmas';
    font-size: 3rem;
    /* Optional: Adjust font size */
}

#formContainer {
    background-image: url('/assets/images/formbg.jpg');
    padding: 1rem;
    background-repeat: repeat-y;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
    background-position: center;
}

#grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}


.task {
    flex: 0 0 auto;
    background-image: url('/assets/images/notebg.png');
    background-size: contain;
    /* Ensures the image covers the entire element */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding-top: 20px;
    padding-right: 23px;
    padding-left: 5px;
    flex-shrink: 0;
    /* Prevent shrinking */

}

#tasksContainer {
    display: flex;
    /* Enables Flexbox */
    flex-wrap: wrap;
    /* Prevents wrapping to the next row */
    overflow-y: auto;
    /* Disables vertical scrolling */
    justify-content: flex-start;
    /* Centers tasks horizontally */
    margin-top: 1rem;
}

/* Delete button */
.task>div:nth-child(1) {
    display: flex;
    flex-direction: row-reverse;
}

.task>div>img {
    width: 16px;
    visibility: hidden;
    /* Use visibility instead of display */
    opacity: 0;
    /* Set initial opacity to 0 for smooth transitions */
    transition: opacity 0.3s ease;
    /* Add a smooth fade-in effect */
}

.task:hover>div>img {
    visibility: visible;
    /* Make the image visible */
    opacity: 1;
    /* Fade the image in */
}

.task>div>img:hover {
    cursor: pointer;
}


/* text area */
.task>div:nth-child(2) {
    overflow-y: auto;
    height: 150px;
    word-wrap: break-word;
    /* Prevent long words from overflowing */
}

/* date */
.task>div:nth-child(3) {
    display: flex;
    justify-content: flex-start;
}

/* time */
.task>div:nth-child(4) {
    display: flex;
    justify-content: flex-start;
}


.task>button {
    display: none;
}